@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-family-sans: 'Work Sans', sans-serif;
  --color-primary: #1c74e9;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--color-background-light);
  color: #111418;
}